* {
  margin: 0;
  padding: 0;
}

h1 {
  text-align: center;
}

body {
  margin: 16px;
}

.container {
  border: 2px solid black;
  width: 320px;
  height: 320px;
  margin: 16px auto;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

.row {
  flex: 1;
  display: flex;
  flex-wrap: wrap;
}

.pixel {
  border: 1px solid grey;
  flex: 1;
}
